<!DOCTYPE html>
<html>

<head>
    <div th:replace="~{fragments/head :: head}"></div>
</head>

<body>    

    <header th:replace="~{fragments/header :: header}"></header>


    <div class="container my-5 py-2 px-5" th:if="${pizza} != false" th:object="${pizza}">

        <div>
            <div class="d-flex align-items-center">
                <div class="col-8">
                    <div><h2>[[*{name}]]</h2></div>
                    <div class="fs-4">Descrizione: [[*{description}]]</div>
                    <div class="fs-4">Prezzo: €[[*{price}]]</div>
                </div>

                <div class="col-4 text-end">
                    <img class="img-fluid" th:src="@{*{photoUrl}}" alt="">
                </div>
            </div>

            <div th:if="*{discount.size() > 0}" >
                <h3>Discounts</h3>

                <table class="table" th:each="discount : *{discount}" th:object="${discount}">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="align-middle">
                        <td>[[*{title}]]</td>
                        <td>[[*{startDate}]]</td>
                        <td>[[*{endDate}]]</td>
                        <td class="text-center">
                            <a th:href="@{/discounts/edit/{id}(id=*{id})}" class="btn btn-success">Update</a>
                            <form method="post" th:action="@{/discounts/delete/{id}(id=*{id})}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="d-flex justify-content-center gap-3 align-items-center my-5" th:unless="*{discount.size() > 0}">
                <h3>Non sono presenti sconti</h3>
                <a th:href="@{|/discounts/create?id=*{id}|}" class="btn btn-primary py-2 px-3">
                    Aggiungi Sconto
                </a>
            </div>
        </div>


    </div>

    <div th:unless="${pizza} != false">
        <div>No Pizza Found</div>
    </div>
        

    <!-- Script JS -->
    <!-- <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.11.6/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script> -->
</body>
</html>