<!DOCTYPE html>
<html lang="en">
<head>

    <th:block th:replace="~{fragments/head :: head}"></th:block>
    
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="container my-5">
        <form th:if="${ingredient != false}" th:action="@{/ingredients/edit/{id}(id=${ingredient.id})}" method="post" th:object="${ingredient}">
            
            <label for="name">Ingrediente: </label>
            <input type="text" id="name" th:field="*{name}" th:errorClass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>


            <br><label class="mt-5" for="">Pizze in cui è presente</label><br>
            <div th:each="pizza : ${pizze}" th:object="${pizza}">
                
                <input type="checkbox" th:id="|*{name}-*{id}|" th:field="${ingredient.pizze}" th:value="*{id}">
                <label th:for="|*{name}-*{id}|">[[*{name}]]</label>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>

        <div th:if="${ingredient} == false">
            no Ingredient Found
        </div>
    </main>
    
</body>
</html>