<!DOCTYPE html>
<html lang="en">
<head>

    <th:block th:replace="~{fragments/head :: head}"></th:block>

</head>
<body>

    <header th:replace="~{fragments/header :: header}"></header>
    
    <main class="container my-5">

        <th:block th:if="${ingredient} != false" th:object="${ingredient}">
            <h2 class="text-center">[[*{name}]]</h2>
            <div class="d-flex flex-column" th:if="*{pizze.size()} > 0" th:each="pizza : *{pizze}" th:object="${pizza}">
                <h4>[[*{name}]]</h4>
            </div>
        </th:block>
        
        <th:block th:if="${ingredients} == false ">Not Found</th:block>
    
    </main>

</body>
</html>